body{
    text-align: center;
}
#dev{
    margin: auto;

}
.dav1{
    display: flex;
    margin: auto;
    justify-content: center;
}
.dav2{
    display: flex;
    margin: auto;
    justify-content: center;
}
.blue{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius:10px ;
    background-color: rgb(21, 79, 173);
    margin: 15px;
    cursor:pointer;
}

.green{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius:10px ;
    background-color: rgb(35, 161, 67);
    margin: 15px;
    cursor:pointer;
}
.yellow{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius:10px ;
    background-color: rgb(235, 231, 7);
    margin: 15px;
    cursor:pointer;
}
.red{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius:10px ;
    background-color: rgb(195, 39, 39);
    margin: 15px;
    cursor:pointer;
}
.flash{
    background-color: white;
}
.bdy{
    background-color: red;
}
